@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  background: #e3fcd6;
  display: flex;
  font-family: "Manrope", sans-serif;
  /* height: 100vh; */
  width: 100vw;
  justify-content: center;
  align-items: stretch;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.amplify-button--primary:hover {
  background-color: #a27b5c;
  color: #e3fcd6;
  opacity: 0.9;
}
